body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background: linear-gradient(to right, #5fa44d 30%, #0b3d2c 70%);
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header img {
    height: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.title h1 {
    font-size: 45px;
    margin-bottom: 5px;
}

.title span {
    font-size: 25px;
    color: #000000;
}

nav {
    margin-left: auto;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a:link, a:visited {
    background-color: hsl(85, 75%, 27%);
    color: rgb(144, 228, 148);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(91, 151, 75);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    text-decoration: none;
    color: #4CAF50;
}

.signup-link a:hover {
    color: #45a049;
}
